<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign Up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/form-stylesheet.css}">
    </head>
    <body>
        <div class="container">
            <h2>Javagram</h2>
            <form method="post">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
                <input type="text" placeholder="Username">
                <input type="text" placeholder="Email">
                <p style="font-weight: bold">Date of Birth</p>
                <input type="date"> <br><br>
                <input type="submit" value="Submit">                
            </form>
        </div> 
    </body>
</html>